<!DOCTYPE html>
<html>

<head>
    <title>
        Company signup
    </title>
</head>

<body>
    <form method="POST" action="/submit_edit_company">
        Company Name : <input type="text" name="name" value="{{ vendor[1] }}" /> <br>
        Site : <input type="text" name="site" value="{{ vendor[2] }}" /> <br>

        {% if categories %}

        <label for="category">Choose a category:</label>

        <select id="category" name="category">
            {% for row in categories %}
            <option value="{{row[0] }}">{{row[1] }}</option>
            {% endfor %}
        </select>
        {% endif %}

        {% if vendor[0]  %}
        <input type="hidden" name="id" value="{{ vendor[0] }}">
        {% endif %}

        <input type="submit" value="Submit">
    </form>
    <br>
    <br>

    </form>
    <br>
    <br>
    </form>

    {% if vendor[0] %}

    <form method="POST" action="/submit_flyer_edit_company" enctype="multipart/form-data">
        <input type="file" name="upload">
        <input type="hidden" name="id" value="{{ vendor[0] }}">

        <input type="submit" value="Submit">
    </form>

    {% for image in images %}
    <input type="hidden" name="id">
    <h6>
        <img src="/img/{{ image[2] }}" />
        <a href="delete_img?id={{ image[0] }}&vendor={{ vendor[0] }}">Delete image</a>
    </h6>
    {% endfor %}



    <form method="POST" action="/submit_contacts_edit_company">
        <input type="hidden" name="id" value="{{ vendor[0] }}">

        Phone number: <input type="text" name="contact" /> <br>
        <input type="submit" value="Submit">
    </form>

    {% for contact in contacts %}
    <input type="hidden" name="id">
    <h6>
        {{ contact[2] }}
    </h6>
    <input type="hidden" name="id">
    <h6>
        <a href="delete_phone?id={{ contact[0] }}&vendor={{ vendor[0] }}">Delete contact</a>
    </h6>
    {% endfor %}
    {% endif %}
</body>

</html>