{% extends "layout.html" %}

{% block scripts %}
<script>
    function insertParam(key, value) {
        key = encodeURIComponent(key); value = encodeURIComponent(value);
        var s = document.location.search;
        var kvp = key + "=" + value;
        var r = new RegExp("(&|\\?)" + key + "=[^\&]*");
        s = s.replace(r, "$1" + kvp);
        if (!RegExp.$1) { s += (s.length > 0 ? '&' : '?') + kvp; };
        //again, do what you will here
        document.location.search = s;
    }

    (function() {
    // your page initialization code here. the DOM will be available here
        const urlParams = new URLSearchParams(window.location.search);
        const category = urlParams.get('category')
        const location = urlParams.get('location')

        document.getElementsByName("menu-item").forEach(function(menu){
            menu.classList.remove("active");
        });

        document.getElementById("category-" + category).className += "active";
        document.getElementById("location-" + location).className += "active";
    })();
</script>
{% endblock %}


{% block filters %}

<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="index.html"><img src="images/core-img/logo.png" alt=""></a>
    </div>
    <!-- Button Group -->
    <div class="amado-btn-group mt-30 mb-15">
        <a href="#" class="btn amado-btn active">Categories</a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li id="category-" name="menu-item"><a onclick="insertParam('category', '')" href="#">All Categories</a></li>
            {% if categories %}
            {% for row in categories %}
            <li id="category-{{row[0] }}" name="menu-item"><a onclick="insertParam('category', '{{row[0] }}')" href="#">{{ row[1] }}</a></li>
            </table>
            {% endfor %}
            {% endif %}
        </ul>
    </nav>
    <!-- Button Group -->
    <div class="amado-btn-group mt-50 mb-15">
        <a href="#" class="btn amado-btn active">Locations</a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li id="location-" name="menu-item"><a onclick="insertParam('location', '')" href="#">All Locations</a></li>
            {% if locations %}
            {% for row in locations %}
            <li id="location-{{row[0] }}" name="menu-item"><a onclick="insertParam('location', '{{row[0] }}')" href="#">{{ row[1] }}</a></li>
            </table>
            {% endfor %}
            {% endif %}
        </ul>
    </nav>
    <!-- Social Button -->
    <div class="social-info d-flex mb-100 mt-100">
        <a href="#"><i class="fa fa-facebook mr-15" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter mr-15" aria-hidden="true"></i></a>
    </div>
    <!-- Cart Menu -->
    <div class="cart-fav-search mb-30 mt-100">
        <a href="cart.html" class="cart-nav"><img src="images/core-img/cart.png" alt=""> Cart <span>(0)</span></a>
        <a href="#" class="fav-nav"><img src="images/core-img/favorites.png" alt=""> Favourite</a>
        <a href="#" class="search-nav"><img src="images/core-img/search.png" alt=""> Search</a>
    </div>

</header>
{% endblock %}


{% block content %}

<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        {% if vendors %}
        {% for row in vendors%}
        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="vendor/{{row[0] }}">
                <img src="images/bg-img/1.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>From $180</p>
                    <h4>{{ row[1] }}</h4>
                </div>
            </a>
        </div>
        {% endfor %}
        {% endif %}
</div>
</div>
{% endblock %}
