{% extends "layout.html" %}

{% block content %}

    <div class="amado-pro-catagory clearfix mb-100">

        {% if vendors %}
        {% for row in vendors %}
        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            {% for image in images %}
            <li data-target="#product_details_slider" data-slide-to="3"
                style="background-image: url('/img/{{ image[2] }}');">
            </li>
            {% endfor %}
            <a href="vendor?id={{ row[0] }}" class="single-product-link">
                {% if (row[4]) %}
                <img src="/img/{{ row[4] }}" alt="">
                {% else %}
                <img src="images/bg-img/1.jpg" alt="">
                {% endif %}
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="hover-border">
                        <div class="line"></div>
                        <p>{{ row[3] }}</p>
                        <h4>{{ row[1] }}</h4>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}