<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Amado - Furniture Ecommerce Template | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="images/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="images/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="index.html"><img src="images/core-img/logo.png" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="/"><img src="images/core-img/logo-only.png" alt=""></a>
                <p>A comprehensive list of home delivery services</p>
            </div>

            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-15">
                <div class="auto-cursor btn amado-btn active">Categories</div>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li id="category-" name="menu-item"><a onclick="insertParam('category', '')" href="#">All
                            Categories</a>
                    </li>
                    {% if categories %}
                    {% for row in categories %}
                    <li id="category-{{row[0] }}" name="menu-item"><a onclick="insertParam('category', '{{row[0] }}')"
                            href="#">{{ row[1] }}</a></li>
                    </table>
                    {% endfor %}
                    {% endif %}
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-50 mb-15">
                <div class="auto-cursor btn amado-btn active">Locations</div>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li id="location-" name="menu-item"><a onclick="insertParam('location', '')" href="#">All
                            Locations</a></li>
                    {% if locations %}
                    {% for row in locations %}
                    <li id="location-{{row[0] }}" name="menu-item"><a onclick="insertParam('location', '{{row[0] }}')"
                            href="#">{{ row[1] }}</a></li>
                    </table>
                    {% endfor %}
                    {% endif %}
                </ul>
            </nav>
            <!-- Social Button -->
            <div class="social-info d-flex mb-100 mt-100">
                <a href="#"><i class="fa fa-facebook mr-15" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter mr-15" aria-hidden="true"></i></a>
            </div>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-30 mt-100">
                <a href="cart.html" class="cart-nav"><img src="images/core-img/cart.png" alt=""> Cart
                    <span>(0)</span></a>
                <a href="#" class="fav-nav"><img src="images/core-img/favorites.png" alt=""> Favourite</a>
                <a href="#" class="search-nav"><img src="images/core-img/search.png" alt=""> Search</a>
            </div>

        </header>

        <!-- Content Area Start -->
        {% block content %}{% endblock %}
        <!-- Content Area Start -->

        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="index.html"><img src="images/core-img/logo-only.png" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#footerNavContent" aria-controls="footerNavContent"
                                    aria-expanded="false" aria-label="Toggle navigation"><i
                                        class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Create a shop</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

    <!-- Scripts Area Start -->
    {% block scripts %}{% endblock %}
    <!-- Scripts Area End -->
</body>

</html>