<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Home Drop</title>

    <!-- Favicon  -->
    <link rel="icon" href="images/core-img/favicon.png">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search"
                                placeholder="Type your keyword...">
                            <button type="submit"><img
                                    src="images/core-img/search.png"
                                    alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="index.html"><img src="images/core-img/logo-only.png"
                        alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="/"><img src="images/core-img/logo-only.png" alt=""></a>
                <p>Your list of home delivery services</p>
            </div>

            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-15">
                <div class="auto-cursor btn amado-btn active">Category</div>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li id="category-" name="menu-item"><a
                            onclick="insertParam('category', '')" href="#">All
                            Categories</a>
                    </li>
                    {% if categories %}
                    {% for row in categories %}
                    <li id="category-{{row[0] }}" name="menu-item"><a
                            onclick="insertParam('category', '{{row[0] }}')"
                            href="#">{{ row[1] }}</a></li>
                    </table>
                    {% endfor %}
                    {% endif %}
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-15">
                <div class="auto-cursor btn amado-btn active">Deliver to</div>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li id="location-" name="menu-item"><a
                            onclick="insertParam('location', '')" href="#">All
                            Locations</a></li>
                    {% if locations %}
                    {% for row in locations %}
                    <li id="location-{{row[0] }}" name="menu-item"><a
                            onclick="insertParam('location', '{{row[0] }}')"
                            href="#">{{ row[1] }}</a></li>
                    </table>
                    {% endfor %}
                    {% endif %}
                </ul>
            </nav>
            <!-- Social Button -->
            <div class="social-info d-flex mb-100 mt-100">
                <a href="#"><i class="fa fa-facebook mr-15"
                        aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter mr-15"
                        aria-hidden="true"></i></a>
            </div>
        </header>
        <div class="products-catagories-area clearfix">

            <div class="location-wrapper clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="location-content first-dropdown">
                                <h5 class="ml-15  mt-3" for="category-select">
                                    What to buy?</h5>
                                <div>
                                    <select id="category-select"
                                        class="nice-select w-100 location-element">
                                        <span class="current">Select
                                            Category</span>
                                        <option value="" class="option selected focus">
                                            All Categories</option>
                                        {% if categories %}
                                        {% for row in categories %}
                                        <option class="option"
                                            value="{{ row[0] }}">{{ row[1] }}
                                        </option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="location-content second-dropdown">
                                <h5 class="ml-15 mt-3" for="category-select">
                                    Where to deliver?</h5>
                                <div>
                                    <select id="location-select"
                                        class="nice-select w-100 location-element">
                                        <span class="current">Select
                                            Location</span>
                                        <option value="" class="option selected focus">
                                            All Locations</option>
                                        {% if locations %}
                                        {% for row in locations %}
                                        <option class="option"
                                            value="{{ row[0] }}">{{ row[1] }}
                                        </option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Content Area Start -->
            {% block content %}{% endblock %}
            <!-- Content Area Start -->
        </div>

        <!-- Product Catagories Area End -->
    </div>

    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="index.html"><img
                                    src="images/core-img/logo-only.png"
                                    alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This
                            template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a
                                href="https://colorlib.com"
                                target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav
                                class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button"
                                    data-toggle="collapse"
                                    data-target="#footerNavContent"
                                    aria-controls="footerNavContent"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation"><i
                                        class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse"
                                    id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link"
                                                href="/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Create
                                                a shop</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Contact
                                                us</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

    <!-- Scripts Area Start -->
    {% block scripts %}{% endblock %}
    <!-- Scripts Area End -->
    <script>
        $(document).ready(function () {
            $('#category-select').niceSelect();
            $('#location-select').niceSelect();

            $('#category-select').on('change', function () {
                filterByCategory(this.value);
            });

            $('#location-select').on('change', function () {
                filterByLocation(this.value);
            });
            initFilters();

        });

        function filterByLocation(location) {
            const urlParams = new URLSearchParams(window.location.search);
            var category = urlParams.get('category')
            category = !category || isNaN(category) ? '' : category;

            document.location.href = '/?location=' + location + '&category=' + category;
        }

        function filterByCategory(category) {
            const urlParams = new URLSearchParams(window.location.search);
            var location = urlParams.get('location')
            location = !location || isNaN(location)?  '' : location;

            document.location.href = '/?location=' + location + '&category=' + category;
        }

        function insertParam(key, value) {
            key = encodeURIComponent(key); value = encodeURIComponent(value);
            var s = document.location.search;
            var kvp = key + "=" + value;
            var r = new RegExp("(&|\\?)" + key + "=[^\&]*");
            s = s.replace(r, "$1" + kvp);
            if (!RegExp.$1) { s += (s.length > 0 ? '&' : '?') + kvp; };
            //again, do what you will here
            document.location.search = s;
        }

        function initFilters() {
            const urlParams = new URLSearchParams(window.location.search);
            var category = urlParams.get('category')
            var location = urlParams.get('location')

            document.getElementsByName("menu-item").forEach(function (menu) {
                menu.classList.remove("active");
            });
            category = !category || isNaN(category) ? '' : category;
            location = !location || isNaN(location)?  '' : location;

            document.getElementById("category-" + category).className += "active";
            document.getElementById("location-" + location).className += "active";

            if (category){
                $('#category-select').val(category)
                $('#category-select').niceSelect('update'); 
            }
            
            if (location) {
                $('#location-select').val(location)
                $('#location-select').niceSelect('update'); 
            }
            
        }
    </script>
</body>

</html>