<!DOCTYPE html>
<html>

<head>
    <title>
        Profile
    </title>
</head>

<body>
    <center>
        <h1>
            Profile
        </h1>
    </center>
    <li>Company Name : <input type="text" name="name" value="{{ vendor[1] }}" /></li> <br>
    <li>Contact_1 : <input type="text" name="phone_1" value="{{ vendor[2] }}" /> <br></li>
    <li>Contact_2 : <input type="text" name="phone_2" value="{{ vendor[3] }}" /> <br></li>
    <li>Site : <input type="text" name="site" value="{{ vendor[4] }}" /> <br></li>
    </li>Site : <input type="text" name="site" value="{{ vendor[5] }}" /> <br></li>
    <a href="/edit_company">Edit Company</a>
</body>

</html>